# Build artifacts
**/bin/
**/obj/
[Dd]ebug/
[Rr]elease/

# User/IDE files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# Environment files
*.env

# ASP.NET user secrets
**/secrets.json

# Logs
*.log

# Node
**/node_modules/
**/dist/

# OS
.DS_Store
